<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Capsulecrm Test Automation Test Suite">

	<listeners>
		<listener
			class-name="com.capsulecrm.ExtentReport.ExtentReport" />
	</listeners>


	<test name="Capsulecrm Test Cases">
		<classes>
			<class name="com.capsulecrm.testcases.PersonTest"></class>
			<class name="com.capsulecrm.testcases.CaseTest"></class>
			<class name="com.capsulecrm.testcases.AccountSettingTest"></class>

		</classes>
	</test>
</suite>